span {
    margin-left: 10px;
    background-color: lightslategrey;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    top: 0;
    background-color: lightgreen;
    text-align: center;

}

h1 {
    padding: 35px;
}

.menu {
    text-align: center;
    padding: 30px;

}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: lightgreen;
    text-decoration: none;
}

a:active {
    background-color: lightgreen;
    text-decoration: none;
}

#link {
    color: black;
}
