.super-mario {
  width: 150px;
  position: absolute;
  left: 50px;
  top: 80px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 400px;
  left: 50px;
}

.baloon {
  position: absolute;
  left: 250px;
  top: 80px;
  z-index: 1;
  width: 200px;

}

.speach {
  font-size: 15px;
  position: absolute;
  top: 110px;
  left: 270px;
  z-index: 2;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 140px;
  left: 450px;
}

body {
  background-image: url(https://images3.alphacoders.com/518/thumb-1920-5185.jpg);
  background-size: cover;
}

